.dashHistory {
  margin-top: 24px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 0 16px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

.dashHistory::-webkit-scrollbar {
  display: none;
}

.dashHistory ul {
  list-style: none;
  display: flex;
  gap: 24px;
  height: 44px;
  flex-wrap: nowrap;
  align-items: center;
  width: 600px;
  font-family: 'DM Sans' sans-serif;
}

.listItems {
  width: fit-content;
  height: 50px;
  padding: 0 10px;
}

.dashHistory a {
  padding: 0 16px;
  width: 100%;
  color: #4b525a;
  margin-bottom: 0;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
}

/* .dashHistory a:hover, */
.dashHistory a:active,
.dashHistory a.active {
  font-weight: 700;
  color: #0052cc;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #0052cc;
}
