.container {
  padding-top: 23px;
}

.nav {
  width: 100%;
  margin-bottom: 24px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.header {
  display: flex;
  gap: 10px;
  grid-column: 1/4;
}

.header h1 {
  font-family: 'DM Sans' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #1b1e21;
}

.header h1::after {
  content: 'Trust';
  color: #0052cc;
}

.nav-section {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}

.nav-section .notif {
  width: 30px;
  height: 30px;
}

.user {
  width: 100%;
  padding-bottom: 23px;
}

.user h2 {
  font-family: 'DM Sans' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #0f1011;
}

.user p {
  margin-top: 4px;
  font-family: 'DM Sans' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #4b525a;
}

@media screen and (min-width: 768px) {
  .logoLayout {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .user {
    margin-top: 40px;
  }
  .user h2 {
    font-size: 32px;
  }
  .nav-section {
    gap: 40px;
  }
}
